<template>
  <router-link to='/dashboard' class="logotype">
    <svg width="112" height="25" viewBox="0 0 112 25" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="nonzero"><path d="M7.7 6.3h-7V1.6h19v4.7h-7v18.3h-5z"/><path d="M16.6 15.9c0-5 4.1-9.1 9.5-9.1s9.5 4 9.5 9.1c0 5-4.1 9.1-9.5 9.1-5.5 0-9.5-4-9.5-9.1zm14.1 0c0-2.6-1.9-4.9-4.6-4.9-2.9 0-4.6 2.2-4.6 4.9 0 2.6 1.9 4.9 4.6 4.9 2.9-.1 4.6-2.3 4.6-4.9zM37.1.7h5v12.8l5.8-6.4h6L47.2 14l6.9 10.7h-5.7l-4.6-7.2-1.7 1.8v5.3h-5z"/><path d="M52.7 15.9c0-5 3.6-9.1 8.7-9.1 5.9 0 8.6 4.6 8.6 9.5 0 .4 0 .9-.1 1.3H57.7c.5 2.3 2.1 3.4 4.3 3.4 1.7 0 2.9-.5 4.3-1.8l2.9 2.5c-1.6 2-4 3.3-7.2 3.3-5.4 0-9.3-3.7-9.3-9.1zm12.4-1.4c-.3-2.2-1.6-3.7-3.7-3.7s-3.4 1.5-3.8 3.7h7.5zM71.5 7.1h5v2.5c1.1-1.5 2.6-2.8 5.1-2.8 3.8 0 6 2.5 6 6.5v11.4h-5v-9.8c0-2.4-1.1-3.6-3-3.6s-3.1 1.2-3.1 3.6v9.8h-5V7.1zM90.3 1.7h8.9c7.2 0 12.2 5 12.2 11.5s-5 11.5-12.2 11.5h-8.9v-23zm9 18.4c4.1 0 6.9-2.8 6.9-6.9 0-4.1-2.8-6.9-6.9-6.9h-3.9v13.8h3.9z"/></g></svg>
  </router-link>
</template>

<script>
  export default {
    name: 'tokend-logo'
  }
</script>

<style scoped>
  .logotype svg {
    width: 70px;
    height: 100%;
  }
</style>
