@import '../../scss/variables';
@import '../../scss/mixins';

.auth-page {
  height: 100%;
}

.auth-page__tips {
  font-size: .8rem;
}

.auth-page__bottom {
  display: flex;
  justify-content: space-between;
}
