@import 'variables';
@import 'mixins';
@import '../../static/fonts/index.css';
@import '../../node_modules/mdi/css/materialdesignicons.min.css';
@import "../../node_modules/vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: $col-md-primary,
  accent: md-get-palette-color(red, A200),
  theme: light
));

@import "../../node_modules/vue-material/dist/theme/all";

/* Global styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

body,
input, select,
textarea {
  background: $col-background;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.005em;
}

input,
textarea {
  width: 100%;
}

html,body {
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling : touch !important;
}

#app {
  height: 100%;

  &,
  & main,
  & .md-app-content {
    background-color: $col-md-background;
  }

  & .md-app-content {
    padding-bottom: 30px;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;

    & .md-card {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  & .sidebar .router-link-active {
    color: $col-md-primary;

    .md-icon  {
      color: $col-md-primary;
    }
  }

  & .md-card-header,
  & .md-card-content {
    padding: 24px;
  }

  & .md-card .md-title {
    line-height: 26px;
  }

  & .md-card-header:first-child {
    > .md-title:first-child {
      margin-top: 0;
    }
  }

  & .md-button {
    & .md-ripple {
      padding: 0 16px;
    }
  }

  & .md-toolbar {
    padding: 0;
    & .md-title {
      margin-left: 0;
    }
  }

  & .md-table-toolbar {
    padding-left: 0;
  }

  & .md-tabs-content {
    height: 100% !important;
  }
}

#app,
.md-dialog {
  @mixin resize-icon ($size) {
    width: $size;
    min-width: $size;
    height: $size;
    font-size: $size !important;
  }

  & .md-icon--half-sized {
    @include resize-icon(12px)
  }

  & .md-icon-size-065x {
    @include resize-icon(14px)
  }

  & .md-icon-size-075x {
    @include resize-icon(16px)
  }
}

h4 {
  font-size: $fs-tip;
  font-weight: bold;
  opacity: .65;
  padding: .75rem 0 .3rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  &--wide {
    max-width: 1366px;
    width: 100%;
  }
}

.app__dialog,
.app__dialog-inner {
  padding: 30px 31px;
}

.app__no-data-msg {
  text-align: center;

  .md-icon {
    margin-bottom: 1rem;
  }

  p {
    margin-top: 10px;
  }
}

.info-dialog.md-dialog {
  max-height: 100%;
  padding: 0;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.md-field.md-theme-default.md-invalid.md-focused label,
.md-field.md-theme-default.md-focused.md-invalid .md-input {
  color: $md-invalid;
}

.md-field.md-theme-default.md-invalid:before {
  background-color: $md-invalid;
}

.md-list-item-content {
  .portfolio-widget__asset-item & {
    padding: 9px 24px;

  }
  .info-widget__asset-item & {
    @include respond-to(xsmall) {
      padding: 4px 8px;
    }
  }
}

.md-dialog-container {
  .info-dialog & {
    width: 100%;
  }
}

.md-list-item-content {
  .info-dialog__item & {
    @include respond-to(small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.md-dialog-container {
  max-width: 100%;
}

.trade-history .md-table-cell-container {
  padding: 0 0 0 24px;
  white-space: nowrap;
}

.trade-history .md-table-head-label {
  @include respond-to-custom(1340px) {
    padding-left: 24px;
  }
}

.manage-orders .md-card-header + .md-card-content {
  @include respond-to-custom(520px) {
    padding: 0;
    padding-bottom: 8px;
  }
}
