$sidebar-width: 210px;
$material-icons-small: 14px;
$material-icon-size: 18px;
$material-icon-medium: 24px;
$material-icon-big: 32px;
$material-icon-big-but-not-so-big: 48px;
$material-icon-super-big: 64px;
$material-icon-xx-super-big: 128px;

$z-status-message: 20;
$z-dd-menu: 15;
$z-sidebar: 10;
$z-open-sidebar-btn: 5;
$z-secondary-navbar: 3;
$z-cover: 17;
$z-sidebar-cover: 9;
$z-modal-dialog: 20;
$z-embed-page: 45;
$z-markdown-editor: 45;

// colors:
// CAUTION: do not use these colors externally

$black: #3f4244;
$gray:#e2e3e3;
$green: #3fa595;
$red: #c2243b;
$md-invalid: #ff1744;
$blue: #578ebd;
$orange: #EF6C00;
$white: #ffffff;

// Use these ones instead

$col-hover: $black;

$col-primary: $black;
$col-background: $gray;

$col-text: $black;
$col-text-secondary: rgba($color: $black, $alpha: 0.5);

$col-content-block: $white;

$col-btn-text: $white;
$col-msg-text: $white;

$col-success: $green;
$col-danger: $red;
$col-info: $blue;

$col-nav-text: $white;

$col-active: $blue;
$col-inactive: lighten($blue, 35%);
$col-unfocused: lighten($black, 30%);

$col-chart-line: $blue;
$col-chart-fill: $col-inactive;
$col-chart-ticks: $black;
$col-chart-text: $col-text;
$col-chart-tip-text: $white;

$col-btc: #FF9900;


$col-md-primary: #0066cc;
$col-md-background: #e8e8e8;
$col-md-accent: #ef5350;
$col-md-primary-txt: #fff;
$col-md-unfocused: rgba(0, 0, 0, 0.54);
$col-md-block: #fff;
$col-md-pending: $orange;

// fonts:
$fs-top-heading: 32px;
$fs-offer-input: 24px;

$fs-big: 2rem;
$fs-heading: 1.4rem;
$fs-root: 1rem;
$fs-tip: .8rem;
$fs-tip-smaller: .74rem;
$fs-label: .8rem;
